SENTRY_IMAGE=crpi-vu9eu0iguupfgpzi.cn-guangzhou.personal.cr.aliyuncs.com/dypluto/sentry:替换为镜像版本
SENTRY_DATA_PATH=/opt/sentry/data
SENTRY_DASHBOARD_PORT=80
SENTRY_ADMIN_PORT=3002
SENTRY_TRUSTED_ORIGINS=http://127.0.0.1:13002,http://localhost:13002
SENTRY_NO_DEMO=0
SENTRY_SECURE_COOKIE=0
